<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>People Manager</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <style>
    </style>
  </head>
  <body class="mdl-demo mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
        <div class="mdl-layout--large-screen-only mdl-layout__header-row">
        </div>
        <div class="mdl-layout--large-screen-only mdl-layout__header-row">
          <h3> People Manager </h3>
        </div>
        <div class="mdl-layout--large-screen-only mdl-layout__header-row">
        </div>
        <div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--primary-dark">
          <%= link_to 'People', people_path, class: "mdl-layout__tab is-active" %> 
        </div>
      </header>
      <main class="mdl-layout__content">
      <div class="mdl-layout__tab-panel is-active">
        <%= yield %>
      </div>
      <footer class="mdl-mega-footer">
        <div class="mdl-mega-footer--middle-section">
        </div>
        <div class="mdl-mega-footer--bottom-section">
          <div class="mdl-logo">
            More Information
          </div>
        </div>
      </footer>
      </main>
    </div>
  </body>
</html>
